#subheader {
    flex: 0;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

#view {
    height: 100vh;
}

#view h2 {
    height: 0px !important;
    padding: 0% !important;
}

#view hr {
    padding: 0% !important;
}