.game {
    border-radius: 5px;
    background-color: rgb(76, 86, 97);
    border: thick white;
    margin: 0.5em;
    height: 185px;
    width: 130px;
    flex: 0 0 auto
}

.game * {
    color: white;
    text-wrap: normal;
    font-size: small;
    margin-bottom: 0 !important;
}