.game {
    border-radius: 5px;
    background-color: rgb(76, 86, 97) !important;
    border: thick white;
    margin: 0.5em;
    height: 190px;
    width: 135px;
    flex: 0 0 auto
}

.game * {
    color: white;
    text-wrap: normal;
    font-size: small;
    margin-bottom: 0 !important;
    padding: .05em !important;
}