hr {
    width: 100%;
}

.gameTimeView {
    flex: 1;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
}

.gameTimeView * {
    flex: 1;
}

.PriorityList .gameTimeView {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
}

.Backlog .gameTimeView {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
}

@media screen and (orientation:portrait) {
    .gameTimeView {
        flex-wrap: wrap;
    }
  }